<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
	<link href="http://v2.bootcss.com/assets/css/bootstrap.css" rel="stylesheet">
	<link href="http://v2.bootcss.com/assets/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/css/reset.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
<% if (locals.success) { %>
<div >
    <%= locals.success %>
</div>
<% } %>
<% if (locals.error) { %>
<div>
    <%= locals.error %>
</div>
<% } %>

<!--<div class="navbar navbar-inverse navbar-fixed-top">-->
	<!--<div class="navbar-inner">-->
		<!--<div class="container">-->
			<!--<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">-->
				<!--<span class="icon-bar"></span>-->
				<!--<span class="icon-bar"></span>-->
				<!--<span class="icon-bar"></span>-->
			<!--</button>-->
			<!--<a class="brand" href="#">Project name</a>-->
			<!--<div class="nav-collapse collapse">-->
				<!--<ul class="nav">-->
					<!--<li class="active"><a href="#">Home</a></li>-->
					<!--<li><a href="#about">About</a></li>-->
					<!--<li><a href="#contact">Contact</a></li>-->
				<!--</ul>-->
			<!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->

<div class="container">

	<%- body%>

</div> <!-- /container -->
</body>
</html>


