<% if(article){ %>
<div class="main_left article_container span8">
   <article id="article_content">
      <header class="clearfix create_btn">
         <h2 class="pull-left"><i class="icon-book"></i><span><%= article.title%></span></h2>
      </header>
	<% if(locals.current_user){ %>
		<% if(locals.current_user.is_admin || locals.current_user.user_name == article.author.user_name){ %>
			<div class="pull-right article_opera">
				<a href="/article_edit/<%= article._id%>" title="修改"><i class="icon-pencil"></i></a>
				<a href="/article_del/<%= article._id%>" title="删除"><i class="icon-trash"></i></a>
			</div>
		<% } %>
	<% } %>
      <section>
         <p>
            <%- article.content%>
         </p>
      </section>
      <footer>
         <div class="author_box clearfix">
            <span> 发表者： <a href="" target="_blank"><%= article.author.user_name%></a> </span>
            <span class="time_box pull-right">发表于：
               <time pubdate datetime="<%= article.create_at%>">
                  <%= article.create_at%>
               </time> </span>
         </div>
   </article>
</div>
<% } %>

<script>
    //装载编辑器
      var reply_ids = [];
      for(var i = 0; i<$('.reply_area').length; i++){
         var id = $('.reply_area:eq('+ i +')').attr('id');
         reply_ids.push(id);
      }
    window.editorMap = {};
    var editor;
    KindEditor.ready(function(K) {
      for(var i = 0; i<reply_ids.length; i++){
            editorMap[reply_ids[i]] = K.create('#reply_' + reply_ids[i],{
            items : ['source', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                  'code', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                  'insertunorderedlist', '|', 'emoticons', 'image', 'link'],
            afterCreate: function(){
               this.sync();
            },
            afterChange: function(){
               this.sync();
            },
            afterBlur: function(){
               this.sync();
            },
         });
       }
       editor = K.create('#reply_content',{
            items : ['source', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
               'code', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
               'insertunorderedlist', '|', 'emoticons', 'image', 'link'],
         afterCreate: function(){
            this.sync();
         },
         afterChange: function(){
            this.sync();
         },
         afterBlur: function(){
            this.sync();
         },
       });
    });
</script>

