<div class="main_left article_list ">
	<header class="clearfix create_btn">
		<h2 class="pull-left"><i class="icon-list"></i>文章列表</h2>
		<a class="pull-right btn" href="/article_add">
				发表文章
		</a>
	</header>
	<% articles.forEach(function(article){ %>
	<article>
		<header>
			<h3><i class="icon-book"></i><span><a href="/article_view/<%= article._id%>"><%= article.title %></a></span></h3>
			<div class="author_box">
				<span> 发表者： <a href="/user_view/<%=article.author.user_name %>" target="_blank"><%=article.author.user_name %></a> </span>
				<span class="time_box">发表于：
					<time pubdate datetime="<%=article.create_at %>">
						<%=article.create_at %>
					</time>
				</span>
				<% if(locals.current_user){ %>
					<% if(locals.current_user.is_admin || locals.current_user.user_name == article.author.user_name){ %>
					<div class="pull-right article_opera">
						<a href="/article_edit/<%= article._id%>" title="修改"><i class="icon-pencil"></i></a>
						<a href="/article_del/<%= article._id%>" title="删除"><i class="icon-trash"></i></a>
					</div>
					<% } %>
				<% } %>
			</div>
		</header>
		<section>
			<%- article.content%>
		</section>
	</article>
	<% }) %>
</div>